{
  "openapi": "3.0.3",
  "info": {
    "title": "EuroConsumers.BeanApi",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://beanapi.identity.pro.internet.conseur.org:5190",
      "description": "base path for bean"
    },
    {
      "url": "https://mile21.com",
      "description": "base path for mile21"
    }
  ],
  "security": [
    {
      "Bearer": []
    }
  ],
  "tags": [
    {
      "name": "contactserviceapi-euroconsumers-contacts-api-controllers-phonevalidation"
    },
    {
      "name": "medicinemdsapi-ec-medicine-mds-api-controllers-companies"
    },
    {
      "name": "localportugalservices-euroconsumers-localportugalservices-api"
    },
    {
      "name": "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
    },
    {
      "name": "medicinemdsapi-ec-medicine-mds-api-controllers-waysofadministration"
    },
    {
      "name": "mile21-ec-mile21-api-controllers"
    },
    {
      "name": "medicinemdsapi-ec-medicine-mds-api-controllers-galenicforms"
    },
    {
      "name": "medicinedcsapi-ec-medicine-dcs-api-controllers"
    },
    {
      "name": "medicinemdsapi-ec-medicine-mds-api-controllers-products"
    }
  ],
  "paths": {
    "/api/PhoneValidation/Validate": {
      "post": {
        "tags": [
          "contactserviceapi-euroconsumers-contacts-api-controllers-phonevalidation"
        ],
        "summary": "Validates a phone number for a specific country.",
        "description": "The phone number can be supplied in the national or international (e.g.: +39) format.\r\n            When supplying the country correctly, e.g. \"IT\" for Italy, you can omit the international format in the phone number: e.g. 02906400.",
        "requestBody": {
          "description": "The phone number, the 2 letters ISO code representing the country and the realm.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneValidationRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneValidationRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PhoneValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneValidationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationProblemDetails"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhoneValidationResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExceptionErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/Company/Create": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-companies"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDcCreateItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDcCreateItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDcCreateItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/Company/Update": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-companies"
        ],
        "summary": "Handle the update of an market item.\r\nWhile the market item is updated an entry of the new data are saved int the history table of that item.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDcUpdateItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDcUpdateItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDcUpdateItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/Company/Push": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-companies"
        ],
        "summary": "Handle the push of an market item.\r\nWhile the market item is pushed an entry of the new data are saved int the history table of that item.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PushItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PushItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/Company/GetItems": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-companies"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyFilterDcGetItemsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyFilterDcGetItemsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyFilterDcGetItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyDc"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Company/GetItem": {
      "get": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-companies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/CompanyDetails/Create": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-companies"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDetailsDcCreateItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDetailsDcCreateItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDetailsDcCreateItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDetailsDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/CompanyDetails/Update": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-companies"
        ],
        "summary": "Handle the update of an market item.\r\nWhile the market item is updated an entry of the new data are saved int the history table of that item.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDetailsDcUpdateItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDetailsDcUpdateItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDetailsDcUpdateItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDetailsDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/CompanyDetails/Push": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-companies"
        ],
        "summary": "Handle the push of an market item.\r\nWhile the market item is pushed an entry of the new data are saved int the history table of that item.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PushItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PushItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDetailsDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/CompanyDetails/GetItems": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-companies"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDetailsFilterDcGetItemsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDetailsFilterDcGetItemsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyDetailsFilterDcGetItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyDetailsDc"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/CompanyDetails/GetItem": {
      "get": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-companies"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyDetailsDc"
                }
              }
            }
          }
        }
      }
    },
    "/B2Bapi/getReasonCategory": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "B2B_GetReasonCategory",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReasonCategoryModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReasonCategoryModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReasonCategoryModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReasonCategoryModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/B2Bapi/addContactReason": {
      "post": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "B2B_AddContactReason",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactFormModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactFormModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/ContactFormModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/ContactFormModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ContactFormModel"
              }
            }
          },
          "required": true,
          "x-bodyName": "contact"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/BackEndBottledGas/pos": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "BEBottledGas_Pos",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/BackEndBottledGas/price": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "BEBottledGas_Prices",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/BackEndBottledGas/validate/{type}": {
      "post": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "BEBottledGas_ValidateOp",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ValidateVm"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ValidateVm"
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ValidateVm"
                }
              }
            },
            "text/xml": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ValidateVm"
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ValidateVm"
                }
              }
            }
          },
          "required": true,
          "x-bodyName": "listToValidate"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/bgapi/pos": {
      "post": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "BottledGas_AddPOS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GasPOS"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GasPOS"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GasPOS"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/GasPOS"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/GasPOS"
              }
            }
          },
          "required": true,
          "x-bodyName": "vm"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/bgapi/updatepos": {
      "post": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "BottledGas_UpdatePOS",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GasPOS"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GasPOS"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GasPOS"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/GasPOS"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/GasPOS"
              }
            }
          },
          "required": true,
          "x-bodyName": "vm"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/bgapi/pos/{skip}": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "BottledGas_GetPointsOfSale",
        "parameters": [
          {
            "name": "skip",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/bgapi/brands": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "BottledGas_GetBrands",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/bgapi/gasTypes/brand": {
      "post": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "BottledGas_GetGasTypesByBrand",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PricesAveragesCountyModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PricesAveragesCountyModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PricesAveragesCountyModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/PricesAveragesCountyModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PricesAveragesCountyModel"
              }
            }
          },
          "required": true,
          "x-bodyName": "model"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/bgapi/fullGasTypes/brand/{brand}": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "BottledGas_GetFullGasTypesByBrand",
        "parameters": [
          {
            "name": "brand",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/bgapi/allGasTypes": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "BottledGas_GetAllGasTypes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/bgapi/pricesAverages": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "BottledGas_GetPricesAverages",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/bgapi/pricesAverages/county": {
      "post": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "BottledGas_GetPricesAveragesCounty",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PricesAveragesCountyModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PricesAveragesCountyModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/PricesAveragesCountyModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/PricesAveragesCountyModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/PricesAveragesCountyModel"
              }
            }
          },
          "required": true,
          "x-bodyName": "model"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/bgapi/price": {
      "post": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "BottledGas_AddPrices",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GasPrice"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GasPrice"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/GasPrice"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/GasPrice"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/GasPrice"
              }
            }
          },
          "required": true,
          "x-bodyName": "vmGasPrice"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/bgapi/counties": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "BottledGas_GetCounties",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/ComplainApi/getComplainUser": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "Complain_GetComplainUser",
        "parameters": [
          {
            "name": "userRecordId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserComplainModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserComplainModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/UserComplainModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/UserComplainModel"
                }
              }
            }
          }
        }
      }
    },
    "/ComplainApi/setComplainUser": {
      "post": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "Complain_SetComplainUser",
        "parameters": [
          {
            "name": "userRecordId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "complaintId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/ComplainApi/Ping": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "Complain_Ping",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/InvoiceServiceApi/pendingDocuments": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "InvoiceService_GetPendingDocuments",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetDocumentsOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetDocumentsOutput"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetDocumentsOutput"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetDocumentsOutput"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InvoiceServiceApi/notSentDocuments": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "InvoiceService_GetNotSentDocuments",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetDocumentsOutput"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetDocumentsOutput"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetDocumentsOutput"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetDocumentsOutput"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InvoiceServiceApi/addDocuments": {
      "post": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "InvoiceService_AddDocuments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDocumentsInput"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddDocumentsInput"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddDocumentsInput"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddDocumentsInput"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AddDocumentsInput"
              }
            }
          },
          "required": true,
          "x-bodyName": "input"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddDocumentOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddDocumentOutput"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AddDocumentOutput"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/AddDocumentOutput"
                }
              }
            }
          }
        }
      }
    },
    "/InvoiceServiceApi/profileFromUploadSession": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "InvoiceService_GetProfileFromUploadSession",
        "parameters": [
          {
            "name": "uploadSession",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProfileFromUploadSessionOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProfileFromUploadSessionOutput"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GetProfileFromUploadSessionOutput"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/GetProfileFromUploadSessionOutput"
                }
              }
            }
          }
        }
      }
    },
    "/InvoiceServiceApi/checkAllPendingDocuments": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "InvoiceService_CheckAllPendingDocuments",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseServiceOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseServiceOutput"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BaseServiceOutput"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/BaseServiceOutput"
                }
              }
            }
          }
        }
      }
    },
    "/InvoiceServiceApi/notifyStatusChange": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "InvoiceService_NotifyStatusChange",
        "parameters": [
          {
            "name": "docid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotifyStatusChangeOutput"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotifyStatusChangeOutput"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NotifyStatusChangeOutput"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/NotifyStatusChangeOutput"
                }
              }
            }
          }
        }
      }
    },
    "/InvoiceServiceApi/ParterApiCallTest": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "InvoiceService_ParterApiCallTest",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/InvoiceServiceApi/Ping": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "InvoiceService_Ping",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/InvoiceServiceApi/exposedSwagger": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "InvoiceService_ExposedSwagger",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/kidzaniaApi/calculate": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "Kidzania_Calculate",
        "parameters": [
          {
            "name": "test.testId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "test.product1Prop1",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "test.product1Prop2",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "test.product1Prop3",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "test.product2Prop1",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "test.product2Prop2",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "test.product2Prop3",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "test.product3Prop1",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "test.product3Prop2",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "test.product3Prop3",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "test.product1Prop4",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "test.product2Prop4",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "test.product3Prop4",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "test.product4Prop1",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "test.product4Prop2",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "test.product4Prop3",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "test.product4Prop4",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/kidzaniaApi/Ping": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "Kidzania_Ping",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/KMCostApi/getresults": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "KMCost_GetResults",
        "parameters": [
          {
            "name": "kmCostModel.brand1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kmCostModel.model1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kmCostModel.name1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kmCostModel.brand2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kmCostModel.model2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kmCostModel.name2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kmCostModel.years",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "kmCostModel.kMs",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/KMCostApi/getbrands": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "KMCost_GetBrands",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/KMCostApi/getmodels": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "KMCost_GetModels",
        "parameters": [
          {
            "name": "brandModel.brand1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brandModel.brand2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/KMCostApi/getnames": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "KMCost_GetNames",
        "parameters": [
          {
            "name": "brandModelModel.brand1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brandModelModel.model1",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brandModelModel.brand2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brandModelModel.model2",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Object"
                }
              }
            }
          }
        }
      }
    },
    "/KMCostApi/Ping": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "KMCost_Ping",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/selectapi/companies": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "Select_GetCompanies",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/selectapi/companyDetails/{id}": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "Select_GetCompanyDetails",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyModel"
                }
              }
            }
          }
        }
      }
    },
    "/selectapi/companiesByFreeText": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "Select_GetCompaniesByFreeText",
        "parameters": [
          {
            "name": "searchText",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/selectapi/districts": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "Select_GetDistricts",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DistrictModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DistrictModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DistrictModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DistrictModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/selectapi/addcompany": {
      "post": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "Select_AddCompany",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/CompanyModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/CompanyModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/CompanyModel"
              }
            }
          },
          "required": true,
          "x-bodyName": "company"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/selectapi/addUser": {
      "post": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "Select_AddUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UserModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/UserModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/UserModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/UserModel"
              }
            }
          },
          "required": true,
          "x-bodyName": "user"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/selectapi/addReview": {
      "post": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "Select_AddReview",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddReviewRequestModel"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AddReviewRequestModel"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddReviewRequestModel"
              }
            },
            "text/xml": {
              "schema": {
                "$ref": "#/components/schemas/AddReviewRequestModel"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AddReviewRequestModel"
              }
            }
          },
          "required": true,
          "x-bodyName": "review"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/selectapi/userExists": {
      "post": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "Select_UserExists",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            },
            "text/json": {
              "schema": {
                "type": "string"
              }
            },
            "application/xml": {
              "schema": {
                "type": "string"
              }
            },
            "text/xml": {
              "schema": {
                "type": "string"
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "string"
              }
            }
          },
          "required": true,
          "x-bodyName": "userEmail"
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/xml": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/xml": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/selectapi/getUserByEmail": {
      "post": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "Select_GetUserByEmail",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserModel"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserModel"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/UserModel"
                }
              },
              "text/xml": {
                "schema": {
                  "$ref": "#/components/schemas/UserModel"
                }
              }
            }
          }
        }
      }
    },
    "/selectapi/keyPhrases": {
      "get": {
        "tags": [
          "localportugalservices-euroconsumers-localportugalservices-api"
        ],
        "operationId": "Select_GetKeyPhrases",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KeyPhraseModel"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KeyPhraseModel"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KeyPhraseModel"
                  }
                }
              },
              "text/xml": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/KeyPhraseModel"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Component/Create": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentDcCreateItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentDcCreateItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentDcCreateItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/Component/Update": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "summary": "Handle the update of an market item.\r\nWhile the market item is updated an entry of the new data are saved int the history table of that item.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentDcUpdateItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentDcUpdateItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentDcUpdateItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/Component/Push": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "summary": "Handle the push of an market item.\r\nWhile the market item is pushed an entry of the new data are saved int the history table of that item.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PushItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PushItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/Component/GetItems": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentFilterDcGetItemsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentFilterDcGetItemsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ComponentFilterDcGetItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ComponentDc"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Component/GetItem": {
      "get": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComponentDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/Dosage/Create": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DosageDcCreateItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DosageDcCreateItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DosageDcCreateItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DosageDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/Dosage/Update": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "summary": "Handle the update of an market item.\r\nWhile the market item is updated an entry of the new data are saved int the history table of that item.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DosageDcUpdateItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DosageDcUpdateItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DosageDcUpdateItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DosageDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/Dosage/Push": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "summary": "Handle the push of an market item.\r\nWhile the market item is pushed an entry of the new data are saved int the history table of that item.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PushItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PushItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DosageDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/Dosage/GetItems": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DosageFilterDcGetItemsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DosageFilterDcGetItemsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DosageFilterDcGetItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DosageDc"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Dosage/GetItem": {
      "get": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DosageDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/Formula/Create": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormulaDcCreateItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FormulaDcCreateItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FormulaDcCreateItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormulaDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/Formula/Update": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "summary": "Handle the update of an market item.\r\nWhile the market item is updated an entry of the new data are saved int the history table of that item.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormulaDcUpdateItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FormulaDcUpdateItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FormulaDcUpdateItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormulaDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/Formula/Push": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "summary": "Handle the push of an market item.\r\nWhile the market item is pushed an entry of the new data are saved int the history table of that item.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PushItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PushItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormulaDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/Formula/GetItems": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FormulaFilterDcGetItemsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FormulaFilterDcGetItemsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FormulaFilterDcGetItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FormulaDc"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Formula/GetItem": {
      "get": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FormulaDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/Ingredient/Create": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IngredientDcCreateItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/IngredientDcCreateItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/IngredientDcCreateItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngredientDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/Ingredient/Update": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "summary": "Handle the update of an market item.\r\nWhile the market item is updated an entry of the new data are saved int the history table of that item.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IngredientDcUpdateItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/IngredientDcUpdateItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/IngredientDcUpdateItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngredientDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/Ingredient/Push": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "summary": "Handle the push of an market item.\r\nWhile the market item is pushed an entry of the new data are saved int the history table of that item.",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushItemRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PushItemRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PushItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngredientDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/Ingredient/GetItems": {
      "post": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IngredientFilterDcGetItemsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/IngredientFilterDcGetItemsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/IngredientFilterDcGetItemsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/IngredientDc"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/Ingredient/GetItem": {
      "get": {
        "tags": [
          "medicinemdsapi-ec-medicine-mds-api-controllers-formulas"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IngredientDc"
                }
              }
            }
          }
        }
      }
    },
    "/api/IngredientDetails/Create": {
[...]
